<header>

    <div class="custom-page-header app-title">
        <span class="page-title">{{ getPageTitle() }}</span>
    </div>

    <div class="custom-page-header app-homepage">
        <span class="title">Voidpath</span>
        <a routerLink="/">
            <img src="assets/img/logo-color.svg" alt="Voidpath" height="26">
        </a>
    </div>
    
    <div class="custom-page-header app-account">
        <div>

        </div>
        <div class="align-right">
            <button>
                <i class="material-icons-round">more_vert</i>
                <div class="dropdown-menu">
                    <div class="dropdown-item">
                        GitHub
                    </div>
                    <div class="dropdown-item">
                        Report
                    </div>
                </div>
            </button>
        </div>
    </div>

    <div class="custom-page-header app-lesson-single">
        <button><i class="material-icons-round">arrow_back</i></button>
        <div class="align-right">
            <button><i class="material-icons-round">list</i></button>
            <button><i class="material-icons-round">more_vert</i></button>
        </div>
    </div>

</header>