<div class="w-full flex flex-col items-center">
    <div class="mt-12 mb-6 w-40 h-40 flex items-center justify-center rounded-full bg-w04 dark:bg-g06 overflow-hidden">
        <i class="material-icons-round text-8xl opacity-20">person</i>
        <!-- <img class="w-full h-full" src="https://st2.depositphotos.com/1502311/12020/v/380/depositphotos_120206860-stock-illustration-profile-picture-vector.jpg?forcejpeg=true"> -->
    </div>
    <p class="text-3xl font-medium px-4 py-2 border-2 border-w08 dark:border-g04 rounded-lg flex items-center gap-5">
        jordan_r
        <i class="material-icons-round text-2xl">edit</i>
    </p>
</div>