
.app-container {
    height: 100%;
}

.app-page-output {
    // margin-top: var(--app-header-height);
    // margin-bottom: var(--app-mobile-nav-height);
    position: fixed;
    top: var(--app-header-height); bottom: var(--app-mobile-nav-height);
    left: 0; right: 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 15px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border: 5px solid transparent;
        background-clip: padding-box;
        border-radius: 10px;
        background-color: var(--5dp);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--6dp);
    }

}