.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.prompt {
    background-color: var(--4dp);
    border: var(--app-panel-separator);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    text-align: center;
    padding: 2em 1.2em;
    
    position: relative;
    .style-title {
        position: absolute;
        bottom: 88%; left: 50%;
        z-index: -1;
        transform: translateX(-50%);
        font-size: 6rem;
        font-weight: 900;
        line-height: 1em;
    
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px #aaa1;
    }
}
