<main>
    <div class="header-content">
        <div class="splash-img"><img alt="splash image"></div>
    </div>
    <div class="toolkit-list">

        <div class="dropdown-container">
            <button class="dropdown-main">
                Learn
                <div class="icon">
                    <i class="material-icons-round">assignment</i>
                    <!-- can also be bookmark instead -->
                </div>
            </button>
            <div class="dropdown-content">
                <button>
                    <div class="icon">
                        <i class="material-icons-round">library_books</i>
                    </div>
                    Lessons
                </button>
                <button>
                    <div class="icon">
                        <i class="material-icons-round">school</i>
                    </div>
                    Courses
                </button>
            </div>
        </div>

        <div class="dropdown-container">
            <button class="dropdown-main">
                Build
                <div class="icon">
                    <i class="material-icons-round">build</i>
                </div>
            </button>
            <div class="dropdown-content">
                <button>
                    <div class="icon">
                        <i class="material-icons-round">content_cut</i>
                    </div>
                    Snippets
                </button>
                <button>
                    <div class="icon">
                        <i class="material-icons-round">groups</i>
                    </div>
                    Community
                </button>
            </div>
        </div>

        <div class="dropdown-container">
            <button class="dropdown-main">
                Deploy
                <div class="icon">
                    <i class="material-icons-round">rocket_launch</i>
                </div>
            </button>
            <div class="dropdown-content">
                <button>
                    <div class="icon">
                        <i class="material-icons-round">cloud</i>
                    </div>
                    Hosting
                </button>
                <button>
                    <div class="icon">
                        <i class="material-icons-round">public</i>
                    </div>
                    Domains
                </button>
                <button>
                    <div class="icon">
                        <i class="material-icons-round">bar_chart</i>
                    </div>
                    Analytics
                </button>
            </div>
        </div>

    </div>
</main>