<div class="
	fixed top-0 bottom-0 left-0 right-0 
	font-sans
	overflow-hidden

	bg-w00
	text-[#2a2a2a]
	dark:bg-g00
	dark:text-white
">

	<div class="fixed top-14 bottom-20 left-0 right-0 p-4 overflow-auto">
		<router-outlet></router-outlet>
	</div>

	<!-- <div class="fixed top-0 left-0 right-0 w-full h-1 bg-pr-main"></div> -->
	<!-- <div class="fixed top-1 right-2 w-10 h-6 pb-1 flex items-center justify-center bg-pr-main rounded-b-full">
		<i class="material-icons-round text-white">expand_more</i>
	</div> -->

	<div class="
		fixed top-0 left-0 right-0
		h-14 flex gap-1 justify-between items-center z-20 p-2 px-4
		bg-w03
		dark:bg-g01
		border-b
		border-d01-w
		dark:border-d01
	">
		<div class="flex items-center gap-2">
			<!-- <i class="material-icons-round text-xl mr-2">arrow_back</i> -->
			<span class="font-medium">Browse</span>
			<i class="material-icons-round text-xl">expand_more</i>
		</div>
		<div>

		</div>
	</div>


    <app-nav-bar></app-nav-bar>

</div>
