<div class="
    fixed bottom-0 left-0 right-0 cursor-pointer
    w-full h-16 flex
    bg-w03
    dark:bg-g01
    border-t
    border-d01-w
    dark:border-d01
">

    <!-- <div>
        <i class="material-icons-round fixed bottom-16 right-0 w-10 h-10 flex items-center justify-center dark:bg-g01 rounded-tl-xl opacity-60">expand_more</i>
    </div> -->



    <div *ngFor="let icon of icons" class="
        w-full h-full box-content flex flex-col items-center justify-center
        border-transparent
        transition-colors ease-in-out
    "
    [routerLink]="icon.url"
    [routerLinkActiveOptions]="{exact:true}"
    routerLinkActive="nav-bar-icon-active">

        <i class="material-icons-round text-xl">
            {{ icon.iconRef }}
        </i>

        <span class="text-[10px] opacity-30">
            {{ icon.title }}
        </span>

    </div>


</div>