@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {

    --primary-color: #886af5;

    --1dp: #23262B;
    --2dp: #27292E;
    --3dp: #2A2C31;
    --4dp: #2F3136;
    --5dp: #323439;
    --6dp: #45464B;

    --font-color: #fafeff;

    // panels
    --app-header-height: 65px;
    --app-mobile-nav-height: 65px;

    --app-panel-separator: 1px solid #9991;


    --app-button-font-color: var(--font-color);
    --app-button-border: 0.8px solid #8881;
}

html { height: 100%; }
body {
    padding: 0; margin: 0;
    height: 100%;
    
    background-color: var(--1dp);
    color: var(--font-color);
}










// forms

input,
textarea,
button {
    padding: 0; margin: 0;
    border: none; outline: none;
    background: none;
    -webkit-tap-highlight-color: transparent;

    color: var(--font-color);
}



button {
    &.ui-primary {
        background-color: var(--primary-color);
        padding: 10px 16px;
        border-radius: 4px;
        font-weight: 500;
    }
}

.field {

    --field-background-color: #6661;
    --field-feature-color: #aaaa;
    --field-font-color: #aaaa;

    --field-focus-color: var(--font-color);
    --autocomplete: #32363d; // no transparency

    position: relative;
    height: 56px;
    min-height: 56px;
    background-color: var(--field-background-color);
    border-bottom: 3px solid var(--field-feature-color);
    // border-radius: 2px;
    color: var(--field-font-color);
    transition:
        border-color 200ms ease,
        background-color 200ms ease,
        color 200ms ease
    ;

    input {
        width: 100%;
        height: 100%;
        padding: 0 16px;
        padding-top: 14px;
        padding-right: 54px;

        font-size: 1rem;
        color: var(--field-font-color);
        transition:
            color 200ms ease
        ;
    }

    label {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-42%);
        color: var(--field-font-color);
        pointer-events: none;
        transition:
            transform 200ms ease,
            font-size 200ms,
            color 200ms ease,
            opacity 200ms ease
        ;
    }

    .icon {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-42%);
        width: 24px; height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        i { font-size: 24px; }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active {
        -webkit-text-fill-color: var(--field-font-color);
        box-shadow: 0 0 0 60px var(--autocomplete) inset !important;
        -webkit-box-shadow: 0 0 0 60px var(--autocomplete) inset !important;
    }

    &:focus-within label, input:not(:placeholder-shown) + label {
        transform: translateY(-16px);
        font-size: 0.6rem;
        opacity: 0.25;
        --field-font-color: #aaa;
    }
    &:focus-within {
        --field-background-color: #8881;
        --field-feature-color: #aaa;
        --field-font-color: #aaa;
    }

}










a {
    color: var(--primary-color);
    font-weight: 500;
    // text-decoration: underline dashed;
    text-decoration: none;
    border-bottom: 1.5px dashed var(--primary-color);
}


h2 {
    padding: 0; margin: 0;
    line-height: 1.2em;
}


p {
    padding: 0; margin: 0;
    line-height: 1.6em;
}